[Unit]
Description=Run a single IP flip
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ipflip rotate
EnvironmentFile=/etc/ipflip/.env
User=root
